<!DOCTYPE html>
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <style>@import url('https://fonts.cdnfonts.com/css/western-cowboy');</style>
    <script src = 'js/scripts.js' type = 'text/javascript'></script>
</head>

<header>
    <nav>
        <b>|</b>    <a href="/ ">Home</a>
        <b>|</b>    <a href="/login">Login</a>
        <b>|</b>    <a href="/online-order">Online Order</a>
    </nav>
</header>

<body>
    <br>
    <div class = "wrapper">
        <br> <br>
        <h1>Inventory</h1>
        <br> <br>
        <div class="buttons">
            <a href="/inventory-add" class="mbutton">Add Item</a>
            <a href="/inventory-delete" class="mbutton">Remove Item</a>
            <a href="/inventory-update" class="mbutton">Update Item</a>
        </div>
        <br> <hr> <br>
        <div class = "menu" >
            <table>
                <tr class = "table-title">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Current Count</td>
                    <td>Max Count</td>
                    <td>Price</td>
                    <td>Menu Item</td>
                    <td>Protein</td>
                </tr>
                <% for (var i in items) { %>
                    <tr>
                        <td><%=items[i].food_id%></td>
                        <td><%=items[i].food_name%></td>
                        <td><%=items[i].current_count%></td>
                        <td><%=items[i].max_count%></td>
                        <td><%=items[i].sell_price%></td>
                        <td><%=items[i].is_menu_item%></td>
                        <td><%=items[i].is_protein%></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>