<!DOCTYPE html>
<head>
    <title>Sales report</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <style>@import url('https://fonts.cdnfonts.com/css/western-cowboy');</style>
    <script src = 'js/scripts.js' type = 'text/javascript'></script>
</head>

<header>
    <nav>
        <b>|</b>    <a href="/ ">Home</a>
        <b>|</b>    <a href="/login">Login</a>
        <b>|</b>    <a href="/online-order">Online Order</a>
    </nav>
</header>

<body>
    <br>
    <div class = "wrapper">
        <br> <br>
        <h1>Sales Report</h1>
        <br> <hr> <br>
        <p>Quarterly sales report for all menu items</p>
        <div class = "menu" >

            <table>
                <tr class = "table-title">
                    <td>Name</td>
                    <td>Sale</td>
                </tr>
                <% for (var i in items) { %>
                    <tr>
                        <% if (i == 0) { %>
                            <td>Chicken Bowl</td>
                            <td>$<%=items[i].count*7.29%></td>
                        <%} else if (i == 1) { %>
                            <td>Beaf Bowl</td>
                            <td>$<%=items[i].count*7.29%></td>
                        <%} else if (i == 2) { %>
                            <td>Steak Bowl</td>
                            <td>$<%=items[i].count*8.19%></td>   
                        <%} else if (i == 3){ %>
                            <td>Chicken Burrito</td>
                            <td>$<%=items[i].count*7.29%></td>
                        <%} else if (i == 4){ %>
                            <td>Beaf Burrito</td>
                            <td>$<%=items[i].count*7.29%></td>
                        <%} else if (i == 5){ %>
                            <td>Steak Burrito</td> 
                            <td>$<%=items[i].count*8.19%></td>   
                        <%} else if (i == 6){ %>
                            <td>chips_salsa</td>
                            <td>$<%=items[i].count*2.19%></td>
                        <%} else if (i == 7){ %>
                            <td>chips_queso</td>
                            <td>$<%=items[i].count*3.64%></td>
                        <%} else if (i == 8){ %>
                            <td>chips_quac</td>
                            <td>$<%=items[i].count*3.69%></td>
                        <%} else if (i == 9){ %>
                            <td>brownie</td>
                            <td>$<%=items[i].count*1.99%></td>
                        <%} else if (i == 10){ %>
                            <td>cookie</td>
                            <td>$<%=items[i].count*1.99%></td>
                        <%} else if (i == 11){ %>
                            <td>drink_16oz</td>
                            <td>$<%=items[i].count*2.25%></td>
                        <%} else if (i == 12){ %>
                            <td>drink_22oz</td>
                            <td>$<%=items[i].count*2.75%></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>